body{
    background-color: #FFFFFF;
    color: #757575;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

/* Nav */

a{
    text-decoration-line: none;
}

ul{
    list-style: none;
}

.logo,
.logo-foot{
    color: #2196F3;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo span{
    color: #000000;
}


.head-list{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.site-nav .link{
    color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus,
.contacts-foot .link:hover,
.contacts-foot .link:focus{
    color: #2196F3;
}

.site-nav .link.current{
    color: #2196F3;
}

.contacts .link{
    color: #757575;
}

/* Head */

.action{
    background-color: #2F303A;
}

.action-title{
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

button{
    font-family: inherit;
}

.button{
    background-color: #2196F3;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

/* Features */

.visually-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.features-title{
    color: #212121;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.features .text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

/* work */

.work-title,
.team-title{
    color: #212121;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center
}

.team{
    background-color: #F5F4FA;
}

.team-list .title{
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-list .text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
/* foot */

.page-foot{
    background-color: #2F303A;
}

.logo-foot span{
    color: #FFFFFF;
}

address{
    font-style: inherit;
}
.contacts-foot .link{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.contacts-foot .map{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

/* Portfolio */

.button-filters{
    background-color: #F5F4FA;
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
}

.button-filters:hover,
.button-filters:focus{
    background-color: #2196F3;
    color: #FFFFFF;
}

.cards-title{
    color: #212121;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.cards .text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
}
